@charset 'utf-8';

/*共通*/
.admin-title{
    background-color:#454545;
    color:#eaeaea;
    max-width:600px;
    margin:auto;
    line-height:50px;
    font-size:20px;
    text-align:center;
    border-radius:3px;
    margin-bottom:5px;
}

/*ホーム画面*/
.header-container{
    margin-bottom:50px;
}

.report-header{
    margin-bottom:30px;
}

.admin-form{
    display:flex;
    justify-content:space-between;
    margin:12px;
}

.btn-flat-logo.admin-header{
    text-align:center;
    font-size:13px;
    width:90px;
    margin-left:20px;
}

.btn-flat-logo.admin-home{
    margin-left:10px;
    height:30px;
}

.admin-home-container{
    background-color:#eaeaea;
    max-width:700px;
    margin:50px auto 0;
    padding:30px 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.admin-home-container p{
    font-size:20px;
    line-height:40px;
    margin:0 20px;
}

.admin-data{
    display:flex;
    justify-content:space-between;
    transition: .4s;
}

.admin-data.border:hover{
    border-left:15px solid #ca0000;
}

/*報告一覧*/
.report-container{
    background-color:#eaeaea;
    max-width:600px;
    margin:0 auto 5px;
    padding:15px;
}

.report-title p{
    font-size:18px;
}

.report-list-data{
    display:flex;
}

.report-list-data p{
    margin:10px 30px 0 0;
}

/*凍結ユーザー*/
.report-user-data{
    display:flex;
}

.report-user-data img{
    height:50px;
    width:50px;
    border-radius:50%;
}
.report-user-data p{
    line-height:50px;
    margin:0 0 10px 10px;
}

/*報告コメント詳細*/
.comment-list-container.admin{
    margin-top:50px;
}

.admin-comment-link{
    margin:10px 0;
}

/*フレンドコメント*/
.friend-message-container.admin{
    margin-top:50px;
}